@font-face {
  font-family: Aleo;
  src: url("Aleo-VariableFont_wght.ttf");
}

:root {
  font-family: Aleo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Heights */
  --header: 110px;
  
  /* Body Padding */
  --left-padding: 30px;
  --bottom-padding: 25px;
  --right-padding: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px var(--left-padding) var(--bottom-padding) var(--right-padding);
  box-sizing: border-box;
}

body {
  background-color: #FFFDF9;
  padding: 0px;
  margin: 0px;
}

header {
  height: var(--header);
  font-size: 36px;
  display: flex;
  align-items: center;
  gap: 5px;
}

i {
  color: #4D4844;
}

.iconBig {
  font-size: 35px;
}

.iconSmall {
  font-size: 20px;
}

.contentBody {
  --height: calc(100vh - var(--header) - var(--bottom-padding));

  display: grid;
  grid-template: var(--height) / 1fr 4fr;
  gap: 25px;
  flex: 1;
}

.contactsSection {
  --gap: 5px;

  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  gap: var(--gap);
  grid-template: calc(90% - var(--gap)) 1fr / 1fr;
}

.contactListContainer {
  grid-area: 1 / 1 / 2 / 2;
  overflow-y: auto;
  padding-right: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E5E1DB;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #A8A49F;
  border-radius: 100px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Contact Styles */
.contact {
  box-sizing: border-box;
  border: 5px solid #4D4844;
  padding: 10px;
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr; 
  gap: 10px;
  cursor: pointer;
}

.contact:hover {
  background-color: #4D4844;
  color: white;

  .contactProfilePicture {
    box-sizing: border-box;
    border: 2px solid #939393;
  }
}

.contactProfilePicture {
  --len: 70px;
  
  grid-area: 1 / 1 / 2 / 2;
  height: var(--len);
  width: var(--len);
  align-self: center;
  border-radius: var(--len);
}

.contactDetailsContainer {
  grid-area: 1 / 2 / 2 / 3;
}

.contactName {
  font-size: 24px;
  margin: 0px;
}

.contactStatus {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 15px;
  }
}

.statusIcon {
  --radius: 15px;
  height: var(--radius);
  width: var(--radius);
  border-radius: var(--radius);
  background-color: #737373;
}

.bigDot {
  --len: 25px;

  grid-area: 1 / 3 / 2 / 4;
  align-self: center;
  justify-self: center;
  height: var(--len);
  width: var(--len);
  border-radius: var(--len);
  background-color: #5DDA6F;
}

/* Options Container */
.optionsContainer {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
}

.optionsContainerBorder {
  width: 100%;
  box-sizing: border-box;
  height: 6px;
  background-color: #E5E1DB;
  border-radius: 5px;
  position: absolute;
  top: 0px;
}

.options {
  display: flex;
  gap: 20px;
}

.optionBtn {
  border: 2px solid #4D4844;
  background-color: #FFFDF9;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 5px;
}

.hoverBtnStyle:hover {
  background-color: #4D4844;
  color: #FFFDF9;
  cursor: pointer;

  * {
    color: #FFFDF9;
  }
}

/* Messages Section */
.messagesSection {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;

  --offset: 15px;

  .messagesContainer {
    background-color: #E3DDD1;
    position: relative;
    z-index: 1;
    height: calc(100% - var(--offset));
    width: calc(100% - var(--offset));
    transform: translateX(var(--offset));
    border-radius: 0px 40px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .decorativeBorder {
    border: 2px solid #4D4844;
    position: absolute;
    top: 0px; 
    left: 0px;
    z-index: 0;
    transform: translateY(var(--offset));
    height: calc(100% - var(--offset));
    width: calc(100% - var(--offset));
    box-sizing: border-box;
  }
}

.noContactSelectedMsg {
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    font-size: 35px;
  }
}

/* Styling for other user profile */
dialog {
  color: black;
  min-width: 450px;
  box-sizing: border-box;
  border: 2px solid #4D4844;
  background-color: #E5E1DB;
  top: 0%;
  border-radius: 20px;
  z-index: 2;
  padding: 0px;  
}

.otherUserProfileContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 10px 15px 10px;
}

.profileHeader {
  position: relative;
  display: flex;
  flex-direction: column;
}

.profileHeaderBG {
  position: absolute;
  border-radius: 20px;
  background-color: #FFFDF9;
  height: 80px;
  width: 100%;
  z-index: 0;
}

.profileHeaderContainer {
  z-index: 1;
  display: flex;
  align-items: end;
  padding-top: 30px;
  padding-left: 15px;
}

.profileImg {
  --len: 100px;

  height: var(--len);
  width: var(--len);
  border-radius: var(--len);
  border: 5px solid #E5E1DB;
}

.profileStatus, .profileJoinDate {
  background-color: #FFFDF9;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
}

.profileStatus {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profileJoinDate {
  margin-left: 5px;
}

.profileDetailsContainer {
  padding: 0px 15px;
}

.profileDetailsForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInput {
  background-color: #FFFDF9;
  border-radius: 20px;
  color: black;
  font-family: aleo;
  border: 0px;
}

.profileDetailsForm input {
  padding: 5px 15px;
}

.profileDetailsForm textarea {
  padding: 10px 15px;
  min-height: 100px;
  resize: none;
}

.profileUsername, .profileDescription {
  font-family: aleo;
  margin: 0px;
}

.bigText {
  font-size: 32px;
} 

.normalText {
  font-size: 16px;
}

.profileBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.profileBtn {
  font-size: 24px;
  border: 2px solid #4D4844;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: aleo;
  background-color: #FFFDF9;
  cursor: pointer;
}

.saveProfileBtn:hover {
  background-color: #D09BFF;
  color: white;
}

.addFriendContainer {
  padding: 10px;

  form {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;

    input {
      flex: 1;
      padding: 5px 10px;
    }
  }
}